@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p ><h3><span class="label label-info">Company History</span></h3>
    IT Solutions was founded in 1989.<br />
    The company has a strong history and track record in developing and implementing both customised and packaged software solutions for indigenous Irish companies and international companies over a 22 year period.
    <br />
    IT Solutions has a proven track record in implementing solutions in contact centres and online businesses across a number of sectors working in partnership with global leaders such as Verint Systems, SDL, Moxie Software, Symon Dacon, Convergys and IQ Services, providing specialist expertise to meet the needs of our clients. IT Solutions also designs develops and implements intuitive, content-rich applications for Mobile, Tablet and Desktop platforms to meet both B2B and B2C requirements.
    <br />
    IT Solutions is also a long term provider of specialist services in the area of cheque processing and automated payment processing services.
    <br />
    IT Solutions offer on-premise and hosted solutions to address our client needs, providing choice and flexibility to meet a diverse set of requirements.
       
</p>


<p><h3><span class="label label-info">Location</span></h3>
    <address>
        IT Solutions Ltd<br />
        18-19 College Green <br />
        Dublin 2 <br />
        <abbr title="Phone">T:</abbr>
        +353 (0)1 671 8344 <br />
        <abbr title="Fax">F:</abbr>
        +353 (0)1 671 8342
    </address>
    
    <div id="map"></div>
</p>

<p><h3><span class="label label-info">Customers</span></h3>
    
    IT Solutions has a strong track record for implementation of a wide variety of client projects stretching over two decades.

    Our client base includes leading organisations in Ireland, the UK and mainland Europe, covering market sectors such as financial services, insurance, high tech, logistics and utilitiy sectors.

    These projects include customised development, managed services, systems integration, telephony integration, payment processing, PCI compliance and business requirements planning.
    </p>

<p><h3><span class="label label-info">Testimonials</span></h3></p>

